{% extends 'base.html' %}

{% block title%}Contact us{% endblock %}

{% block content %}
    <h2>Hello, please fill out this form and we will get back to you ASAP</h2>
    <form action="{{ url_for('contact_us') }}" method="POST">
        <section>
            <label for="name">Full Name:</label>
            <input type="text" name="name" placeholder="Full name">
        </section>

        <section>
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email">
        </section>

        <section>
            <label for="message">Message</label>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
        </section>

        <section>
            <input type="submit" name="submit" id="" value="Send message">
        </section>
    </form>
{% endblock %}